body {
    margin: 0;
    padding: 0;
    background-color: #1E000E;
    color: #F4F7BE;
}

ul {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 5px;
}

ul li {
    max-width: 150px;
    padding: 0px 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #823038;
    color: #DEBA6F;
}

#reset {
    margin: 10px 0px;
}

.guess-tracker {
    font-size: 20px;
}