.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    background-color: #1E000E;
    color: #F4F7BE;

  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}

ul {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 5px;
}

ul li {
    max-width: 170px;
    padding: 0px 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #823038;
    color: #DEBA6F;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 30px;
    font-size: 16px;
}

#player-guess {
    height: 30px;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 30px;
}

#reset {
    margin: 10px 0px;
}

.guess-tracker {
    font-size: 20px;
}

#instructions {
    text-align: center;
}

.orange {
    background-color: #aa4f0d;
}

.darkgreen {
    background-color: darkgreen;
}

.firebrick {
    background-color: firebrick;
}